{% extends 'base.html' %}

{% block content %}
<body>
    {% if images %}
      {% for image in images %}
        <img src="{{ url_for('sorting.GetUnknownImage', filename=image) }}">
      {% endfor %}
    {% else %}
    <p>Could not find parts!</p>
    {% endif %}
 <div></div>
    <form method="post">
        <label for="query">Search for a part:</label>
        <input name="query" id="query" value="" required>
        <input type="submit" value="Search">
    </form>
    <hr>
    <form method="post"><input type="submit" value="Picture Of Conveyor belt"><input type="hidden" id="badImage" name="badImage" value="conveyor"><input type="hidden" id="images" name="realImage" value="{{images}}"></form>
    <form method="post"><input type="submit" value="Bad Picture(s)"><input type="hidden" id="badImage" name="badImage" value="badImages"><input type="hidden" id="images" name="realImage" value="{{images}}"></form>
        <form method="post"><input type="submit" value="Skip Part"><input type="hidden" id="badImage" name="badImage" value="skip"><input type="hidden" id="images" name="realImage" value="{{images}}"></form>
    <form method="post">
        <!-- The values names submitted in the form must match the variable names in a Part object -->
        <input type="submit" value="Submit">
        {% for result in results %}
            <!-- Bricklink hosts pictures of images at http://img.bricklink.com/ItemImage/PL/{{result.partNum}}.png.
                 You can access alternative images of parts by subbing out "/PL/" for "/PN/x/" where 'x' is some index number from 1 upwards   -->
            <label><img src="http://img.bricklink.com/ItemImage/PL/{{result.partNum}}.png" style="max-width: 150px; max-height: 150px">
                <input type="radio" id="{{result.partNum}}" name="partNum" value="{{result.partNum}}">
                {{result.partName}} <a href="https://www.bricklink.com/v2/catalog/catalogitem.page?P={{result.partNum}}#T=P" target="_blank">[Bricklink]</a> </label>
        {% endfor %}
        <input type="hidden" id="images" name="images" value="{{images}}">
        <input type="hidden" id="puid" name="puid" value="{{puid}}">
    </form>
    <form method="post">

</body>
{% endblock %}