{% extends 'base.html' %}

{% block content %}
<body>
    {% if images %}
      {% for image in images %}
        <img src="{{ url_for('sorting.download_file', filename=image) }}">
      {% endfor %}
    {% else %}
    <p>Could not find parts!</p>
    {% endif %}
 <div></div>
    <form method="post">
        <label for="query">Search for a part:</label>
        <input name="query" id="query" value="" required>
        <input type="submit" value="Search">
    </form>
  <p>Choose a result:</p>
    <form method="post">
        {% for result in results %}
            <input type="radio" id="{{result.label}}" name="partNumber" value="{{result.partNumber}}">
            <label for="{{result.label}}">{{result.label}}</label><br>
        {% endfor %}
        <input type="hidden" id="images" name="images" value="{{images}}">
        <input type="hidden" id="user" name="user" value="{{g.user}}">
        <input type="submit" value="Submit">
    </form>
  <div></div>
  {% if query %}
    <li>Query {{query}}</li>
  {% endif %}

</body>
{% endblock %}