@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Open+Sans:wght@400;600;700&display=swap');

/* VARIABLES */
:root {
  --light-grey: #e9e9e9;
	--black: #272727;
  --blue: #70c5ff;
  --yellow: #ffc706;
  --red: #d02012;
  --white: white;

  --rgb-black: 39, 39, 39;

  --border-color: var(--light-grey);
  --border-width: 0.4rem;

	--base-font-size: 18px;
  --transition: all 0.3s ease-in;
  --default-margin: 1rem;
  --default-margin-large: 1.5rem;

}

/* BASE STYLES */
html {
  font-family: sans-serif;
  background: var(--white);  
  box-sizing: border-box;
  height: 100%;
  color: var(--black);
}

body {
  margin: 0;
  height: inherit;
}

h1 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 2.5rem;
  color: var(--yellow);
  margin: 1rem 0;
}

p, a, label, button, input, span {
  font-size: var(--base-font-size);
  font-family: 'Open Sans', sans-serif;
}

a {
  color: var(--yellow);
  text-decoration: none;
}
a:hover {
	opacity: 0.7;
  transition: var( --transition);
}
hr {
  border: none;
  border-top: var(--border-width) solid var(--border-color);
}