<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - BriXit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <html lang="en-CA"></html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<nav>
 <h1>BriXit</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('labelling.labelling') }}">Labelling</a>
      <li><a href="{{ url_for('help') }}">Help</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>

<section class="content {% block extendcontentclass %}{% endblock %}">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
