{% extends 'base.html' %}

{% block content %}
<body>

<h1>How to use BriXit</h1>

The image at the top of the page is a picture of a lego part taken from my conveyor belt.
<img src="{{ url_for('labelling.GetStaticImage', staticImg='help_main_screen.png') }}">



Shorthand:

    "mod" : "modified",
    "minifig" : "minifigure",
    "cheese wedge" : "slope 30",
    "snot" : "studs on side",
    "slur" : "rock panel",
    "burp" : "rock panel",
    "lurp" : "rock panel",
    "tech" : "technic"

Multi-dimensional parts

# Difficult parts

Slope, Curved 3 x 2 x 2/3 with Two Studs, Wing End

<img src="http://img.bricklink.com/ItemImage/PL/47456.png">

---

Slope, Inverted 45 6 x 1 Double with 1 x 4 Cutout

<img src="https://img.bricklink.com/ItemImage/PN/85/52501.png">

</body>
{% endblock %}