@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Open+Sans:wght@400;600;700&display=swap");
/* BASE STYLES */
html {
  font-family: sans-serif;
  background: #fff;
  box-sizing: border-box;
  height: 100%;
  color: #272727;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-family: "Hammersmith One", sans-serif;
  font-size: 2.5rem;
  color: #ffc706;
  margin: 1rem 0;
}

p, a, label, button, input, span {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #5472d9;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in;
}

hr {
  border: none;
  border-top: 0.4rem solid #e9e9e9;
}

li {
  margin-bottom: 0.5rem;
}

dl {
  padding-left: 1rem;
}
dl dt {
  font-weight: bold;
}
dl dt::after {
  content: ": ";
}
dl dd {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/* NAVIGATION MENU */
nav {
  background: #272727;
  display: flex;
  align-items: center;
  margin: 0 auto 1rem;
  padding: 1rem 1rem 0.5rem 1rem;
  border-bottom: 0.4rem solid #ffc706;
}
nav h1 {
  flex: auto;
  margin: 0;
}
nav a, nav span {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
nav a:hover, nav span:hover {
  color: #fff;
  opacity: 1;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
nav ul li span {
  font-weight: normal;
  color: #e9e9e9;
}
nav ul li svg {
  width: 2rem;
  fill: #ffc706;
  transition: all 0.3s ease-in;
}
nav ul li svg:hover {
  fill: #fff;
}

header .action {
  display: block;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

nav ul li a,
header .action {
  color: #ffc706;
  font-weight: 600;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0;
  padding: 1rem 1rem 0.5rem 1rem;
  border-top: calc(0.4rem / 2) solid #ffc706;
  color: #fff;
}

/* Styles for Flask's Flash notification system */
.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 2px solid #ffc706;
}

input[type=radio] {
  display: none;
}
input[type=radio]:checked + label {
  border: 0.4rem solid #ffc706;
  transition: all 0.1s ease-in;
}

input[type=search] {
  flex-grow: 1;
}

input[type=submit], button {
  align-self: start;
  margin: 0;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 700;
  transition: all 300ms ease-in-out;
  border: 0.4rem solid #e9e9e9;
  background-color: #e9e9e9;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type=submit]:hover, button:hover {
  background-color: #ffc706;
  border-color: #ffc706;
}

input.danger {
  color: #d02012;
}

.content input[type=text],
.content input[type=password],
.content input[type=search],
.content textarea {
  background-color: #e9e9e9;
  border: none;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.content textarea {
  min-height: 12em;
  resize: vertical;
}
.content label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
.content form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 740px) {
  .content .search-field {
    flex-direction: row;
  }
}
@media (min-width: 740px) {
  .content .search-field input[type=search] {
    margin-right: 1rem;
  }
}
.content .search-field button, .content .search-field input[type=submit] {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #ffc706;
  border: 0.4rem solid #ffc706;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 740px) {
  .content .search-field button, .content .search-field input[type=submit] {
    width: auto;
  }
}
.content .search-field button:hover, .content .search-field input[type=submit]:hover {
  background-color: #fff;
}

.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 1rem;
}
@media (min-width: 740px) {
  .actions {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
.actions form {
  display: inline-block;
  width: calc(50% - (1rem / 2));
}
@media (min-width: 940px) {
  .actions form {
    width: calc(25% - (1.5rem / 2));
  }
}
.actions form button, .actions form input[type=submit] {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
@media (min-width: 940px) {
  .actions form button, .actions form input[type=submit] {
    padding: 0.5rem 1.5rem;
  }
}

.search-results label {
  border: 0.4rem solid #e9e9e9;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .search-results label {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.search-results label:hover {
  cursor: pointer;
  border-color: #ffc706;
}
.search-results label img {
  margin-right: 1rem;
}
.search-results label a {
  margin-left: 1rem;
}
.search-results button, .search-results input[type=submit] {
  margin: 0 auto 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  background-color: #ffc706;
  border: 4px solid #ffc706;
}
@media (min-width: 740px) {
  .search-results button, .search-results input[type=submit] {
    width: auto;
  }
}
.search-results button:hover, .search-results input[type=submit]:hover {
  background-color: #fff;
}

/* IMAGES */
img {
  width: 100%;
}

.main img {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin: 1rem auto;
  object-fit: contain;
}

figure.part {
  max-width: 20rem;
}

/* CONTENT */
.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  padding-bottom: 6rem;
}
@media (min-width: 740px) {
  .content {
    padding: 0 calc(1.5rem * 2) 6rem;
  }
}
.content > * > * {
  margin-bottom: 1rem;
}
.content > header {
  display: flex;
  align-items: flex-end;
}
.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}
.content:last-child {
  margin-bottom: 0;
}

.container.content {
  max-width: 500px;
  margin: 2rem 1rem;
  padding: 1.2rem;
  background-color: #272727;
  box-shadow: 0 0 2rem #272727;
}
@media (min-width: 570px) {
  .container.content {
    margin: 2rem auto;
  }
}
.container.content h1 {
  text-align: center;
}
.container.content label {
  color: #fff;
  font-weight: normal;
}
.container.content input[type=text], .container.content input[type=password] {
  background-color: #e9e9e9;
  border: none;
  border-left: 0.4rem solid #ffc706;
}
.container.content button, .container.content input[type=submit] {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #ffc706;
  border: 0.4rem solid #ffc706;
}
.container.content button:hover, .container.content input[type=submit]:hover {
  background-color: #fff;
}

/*# sourceMappingURL=main.css.map */
