@import "css/base.css";
@import "css/forms-and-inputs.css";
@import "css/flash.css";
@import "css/navigation.css";
@import "css/login.css"; /** */
@import "css/content.css";/** */
@import "css/toggle.css";

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}
.post > header > div:first-of-type {
  flex: auto;
}
.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
.post .about {
  color: slategray;
  font-style: italic;
}
.post .body {
  white-space: pre-line;
}

