{% extends 'base.html' %}

{% block extendcontentclass %}container{% endblock %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="serialKey">Serial Key</label>
    <input name="serialKey" id="serialKey" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}